{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Givntek</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'pages/css/style.css' %}"
    />
    <link rel="stylesheet" href="{% static 'pages/js/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css" />
    <script src="https://cdn.jsdelivr.net/npm/reefjs@11/dist/reef.min.js"></script>
    <script src="{% static 'pages/js/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'pages/js/main.js' %}"></script>
  </head>

  <body class="font-serif">
    <div id="page" class="bg-white">
      {% include 'pages/parts/fixed.html' %}

      <header class="relative overflow-hidden">
        {% include 'pages/parts/menu-main.html' %}
      </header>

      <main>{% block content %}{% endblock content %}</main>
      {% include 'pages/parts/footer.html' %}
    </div>
  </body>
</html>
