<div class="user absolute zi-above pos-right">
  <ul class="flex flex-col">
    <li class="label label--small nav__label">Mon Compte</li>

    <li class="nav-item">
      <a class="nav-link" tabindex="0" href="/member/55129142-fxghost">
        Mon profil
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" tabindex="0" href="/settings">Mes paramètres</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" tabindex="0" href="/member/personalization/sizes"
        >Personnalisation</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" tabindex="0" href="/wallet/balance">
        <span class="u-flexbox u-justify-content-between u-align-items-center">
          Mon porte-monnaie

          <span class="u-ui-padding-left-regular">
            <div
              class="c-text--caption c-text--left c-text js-wallet-balance-container"
            >
              0,00 €
            </div>
          </span>
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" tabindex="0" href="/referrals">Invite tes amis</a>
    </li>

    <li class="nav-item u-color-red u-desktops-only">
      <a
        class="nav-link"
        tabindex="0"
        rel="nofollow"
        data-method="post"
        href="/member/general/logout?ref_url=%2F"
        >Se déconnecter</a
      >
    </li>
  </ul>
</div>
